<a href="https://colab.research.google.com/github/srivatsanrr/autonom_covid/blob/master/SGB_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
#path='https://docs.google.com/spreadsheets/d/1EdYF-eBrgYydUQQVog_82yogxx09GEmU/edit?usp=drive_web&ouid=105826360531599327533&dls=true'
ds = pd.read_excel('/content/drive/My Drive/Colab Notebooks/Train_dataset.xlsx')
ds1 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/Test_dataset.xlsx')
ds2= pd.read_excel('/content/drive/My Drive/Colab Notebooks/Test_dataset.xlsx')

In [9]:
ds.shape

(10714, 28)

In [10]:
ds1.shape

(14498, 27)

In [11]:
ds.iloc[:,9:]

       cases/1M  Deaths/1M  ... FT/month  Infect_Prob
0             2          0  ...      2.0    49.135010
1             2          0  ...      1.0    51.147880
2             2          0  ...      1.0    73.224000
3             2          0  ...      1.0    48.779225
4             2          0  ...      1.0    87.868800
...         ...        ...  ...      ...          ...
10709         8          2  ...      0.0    41.981760
10710         8          2  ...      NaN    47.148663
10711         8          2  ...      2.0    47.708533
10712         8          2  ...      1.0    53.803565
10713         8          2  ...      0.0    68.342400

[10714 rows x 19 columns]

In [12]:
# Label Encoding
ds["Region"] = ds["Region"].astype('category').cat.codes
ds["Gender"] = ds["Gender"].astype('category').cat.codes
ds["Designation"] = ds["Designation"].astype('category').cat.codes
ds["Married"] = ds["Married"].astype('category').cat.codes
ds["Mode_transport"] = ds["Mode_transport"].astype('category').cat.codes
ds["Occupation"] = ds["Occupation"].astype('category').cat.codes
ds["Married"] = ds["Married"].astype('category').cat.codes
ds["comorbidity"] = ds["comorbidity"].astype('category').cat.codes
ds["Pulmonary score"] = ds["Pulmonary score"].astype('category').cat.codes
ds["cardiological pressure"] = ds["cardiological pressure"].astype('category').cat.codes

In [13]:
ds=ds.drop(["Name","Insurance", "salary", "people_ID"],  axis=1)

In [14]:
ds.isnull().sum()

Region                       0
Gender                       0
Designation                  0
Married                      0
Children                   311
Occupation                   0
Mode_transport               0
cases/1M                     0
Deaths/1M                    0
comorbidity                  0
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure       0
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [15]:

# Missing value handling using mean and forward fill methods
ds['Children']=ds['Children'].fillna(int(np.mean(ds['Children'])))
ds['Diuresis']=ds['Diuresis'].fillna(int(np.mean(ds['Diuresis'])))
ds['d-dimer']=ds['d-dimer'].fillna(int(np.mean(ds['d-dimer'])))
ds['Heart rate']=ds['Heart rate'].fillna(int(np.mean(ds['Heart rate'])))
ds['Platelets']=ds['Platelets'].fillna(int(np.mean(ds['Platelets'])))
ds['HDL cholesterol']=ds['HDL cholesterol'].fillna(int(np.mean(ds['HDL cholesterol'])))
ds['HBB']=ds['HBB'].fillna(int(np.mean(ds['HBB'])))
ds['FT/month']=ds['FT/month'].fillna(int(np.mean(ds['FT/month'])))
ds['comorbidity'].fillna('ffill', inplace=True)
ds['cardiological pressure'].fillna('ffill', inplace=True)

In [16]:
y_train= ds.iloc[:,-1]
x_train= ds.iloc[:,9:].drop(["Infect_Prob"], axis=1)

In [17]:
import pandas as pd
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_train,y_train, test_size=0.20, random_state=101)

In [19]:
model = XGBClassifier()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
predict_train = model.predict(x_train)
print('\nTarget on train data',predict_train)

In [ ]:
accuracy_train = accuracy_score(predict_train,y_train.reshape(-1,1))
print('\naccuracy_score on train dataset : ', accuracy_train)

In [ ]:
predict_test = model.predict(x_test)
print('\nTarget on test data',predict_test)

In [ ]:
accuracy_test = accuracy_score(predict_test,y_test.reshape(-1,1))
print('\naccuracy_score on test dataset : ', accuracy_test)

In [ ]:
from sklearn.metrics import plot_confusion_matrix
display = plot_confusion_matrix(model, x_test, y_test.reshape(-1,1),display_labels=['High','Low','Mid'],cmap=plt.cm.Blues, normalize='true')
display.ax_.set_title("Confusion Matrix")
plt.show()

In [ ]:
from sklearn.externals import joblib
joblib.dump(model, 'model_SGB.pkl')